<main class = "main-mid">


  {{#each allTutorial}}
    <div>
      esse texto {{this.text}} pertence
      {{#if this.userId.name}}
      <b>{{this.userId.name}}</b>
      <img src="{{this.image}}" alt="Image Nao Foi">
      {{else}}
      <b>SEM NOME</b>
      {{/if}}
    </div>
  {{/each}}
  

  <a href="/tutorial/edit">CRIE SEU TUTORIAL</a>

</main>


{{!--
  NAO COMETA ESSE ERRO DENOVO
  {{#each allTutorial}}
    {{#if this.userId.name}}
      <div>Bem vindo {{this.userId.name}}</div>
    {{/if}}
  {{/each}}
  <h1>{{userLogged}}</h1> --}}