<main class="main-mid">
  <nav class="nav-tutorial">

    <img src="../images/Mixer-logo-02.png" alt="logo" height="100">
    <ul class="d-none d-md-inline-flex">
      <li> <a href="/">Home</a></li>
      <li> <a href="/vitrine">Projects</a></li>
      <li> <a href="/tutorial">Tutorials</a> </li>
      {{!-- <ffffffli> <a href="/forum">Comunity</a> </li> --}}
      <li class = "lgs"> <a href="/login">Login</a> </li>
      <li class = "lgs"> <a href="/sign">Signup</a> </li>

    </ul>

  </nav>

  <div data-aos="fade-right" class="tutorial-bgc">
    <h1>Comunity Tutorials</h1>
  </div>
  {{!-- <h1>Tutorials</h1> --}}
  <div class="btn-tutorial-flex">
    <form action="/tutorial/create">
      <button data-aos="fade-right" type="submit" class="btn-tutorial">
        <p>+ add a new tutorial</p>
      </button>
    </form>
  </div>

  {{!-- <a href="/tutorial/edit">CRIE SEU TUTORIAL</a> --}}

  <div class="container">

    <div class="row d-flex justify-content-around">

      {{#each allTutorial}}
      <div data-aos="fade-right" class="card bg-dark text-white col-md-3 col-8 my-5 mx-2">
        <img src="{{this.image}}" class="card-img" alt="..." height="200">
        <div class="card-img-overlay">
          <h2 class="card-title">
            <form action="/tutorial/owner?id={{this._id}}" method="POST">
              <button type="submit" class="btn-tutorial-id">
                <p>{{this.title}}</p>
              </button>
          </h2>

          </form>
        </div>
      </div>
      {{/each}}


    </div>

  </div>
</main>



</main>


{{!--
  NAO COMETA ESSE ERRO DENOVO
  {{#each allTutorial}}
    {{#if this.userId.name}}
      <div>Bem vindo {{this.userId.name}}</div>
    {{/if}}
  {{/each}}
  <h1>{{userLogged}}</h1> --}}