<main class="main-mid">
    <nav>

    <img src="../images/Mixer-logo-02.png" alt="logo" height="100">
    <ul>
      <li> <a href="/vitrine">Projects</a></li>
      <li> <a href="/tutorial">Tutorials</a> </li>
      <li> <a href="/forum">Comunity</a> </li>
      <li> <a href="/login">Login</a> </li>
      <li> <a href="/sign">Signup</a> </li>

    </ul>

  </nav>

  <h1><span>Tutorials</span></h1>
<form action="/tutorial/create">
  <button type="submit"><p>+</p></button>
</form>

  {{!-- <a href="/tutorial/edit">CRIE SEU TUTORIAL</a> --}}

 <div class="container">

    <div class="row margin-all">

      {{#each allTutorial}}
      <div class="card bg-dark text-white col-3">
        <img src="{{this.image}}" class="card-img" alt="..." height="200">
        <div class="card-img-overlay">
          <h5 class="card-title">{{this.title}}</h5>
          <form action="/tutorial/edit?id={{id}}">
          <button type="submit"><p>Look!</p></button>
          </form>
        </div>
      </div>
      {{/each}}

    </div>
  </div>
</main>



</main>


{{!--
  NAO COMETA ESSE ERRO DENOVO
  {{#each allTutorial}}
    {{#if this.userId.name}}
      <div>Bem vindo {{this.userId.name}}</div>
    {{/if}}
  {{/each}}
  <h1>{{userLogged}}</h1> --}}