<main>
 <a href="/user-profile/edit">EDITA</a>
  
  <img src="{{this.image}}" alt="image-user not found">
  <h1>Login: {{this.login}}</h1>
  <h1>Name: {{this.name}}</h1>
  <h1>Role: {{this.role}}</h1>

  {{#if error}}
  <h1>{{error}}</h1>
  {{/if}}
</main>